{% extends "layout.html" %} {% block head%}
<style type="text/css" media="screen">
  .grid-container {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* This creates 2 columns of equal width */
    gap: 20px; /* Adjusts the space between grid items */
    /* Add additional styling as needed */
  }

  .grid-item {
    /* Styles for individual items, if necessary */
  }
</style>
{% endblock %} {% block content%}

<div class="grid-container">
  <div class="grid-item">
    <h2>Pull</h2>
    <form id="pullForm">
      <label for="pull-volume">Volume:</label>
      <input type="text" id="pull-volume" name="pull-volume" />
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="grid-item">
    <h2>Push</h2>
    <form id="pushForm">
      <label for="push-volume">Volume:</label>
      <input type="text" id="push-volume" name="push-volume" />
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="grid-item">
    <h2>Switch to Port</h2>
    <div class="q_grid">
      {%for i in range(num_valve_ports)%}
      <button type="button" onclick="switchToPort({{i+1}})">{{i+1}}</button>
      {%endfor%}
    </div>
  </div>
  <div class="grid-item">
    <button type="button" class="execute" onclick="custom_command('ZR')">Initialize</button>
    <button type="button" class="query" onclick="isBusy()">
      Check Is Busy
    </button>
    <button type="button" class="query" onclick="custom_command('?')">Query Syringe Position</button>
    <button type="button" class="query" onclick="custom_command('?6')">Query Valve Position</button>
    <button type="button" class="hardstop" onclick="custom_command('TR')">Hardstop</button>
  </div>
  <div class="grid-item">
    <label for="address">Address:</label>
    <input type="text" value="1" name="address" id="address" />
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  async function isBusy() {
    const response = await fetchPOST("/pman/aurora-pump/is-busy", {
      args: [],
    });
    display(response);
  }
  async function switchToPort(n) {
    const response = await fetchPOST("/pman/aurora-pump/switch-to-port", {
      args: [n],
      kwargs: {
        address: document.getElementById("address").value,
      },
    });
    display(response);
  }
  document
    .getElementById("pullForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();
      const volume = document.getElementById("pull-volume").value;
      const response = await fetchPOST("/pman/aurora-pump/pull", {
        args: [volume],
        kwargs: {
          address: document.getElementById("address").value,
        },
      });
      display(response);
    });
  document
    .getElementById("pushForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();
      const volume = document.getElementById("push-volume").value;
      const response = await fetchPOST("/pman/aurora-pump/push", {
        args: [volume],
        kwargs: {
          address: document.getElementById("address").value,
        },
      });
      display(response);
    });
  async function custom_command(command_string) {
    const response = await fetchPOST("/pman/aurora-pump/custom", {
      args: [command_string],
      kwargs: {
        address: document.getElementById("address").value,
      },
    });
    display(response);
  }
</script>
{% endblock%}
