{% extends "layout.html" %} {% block head%} {% endblock %} {% block content%}
<h2>Transfer</h2>
<div id="timer-holder"> <span>Estimated Time:</span> <span id="timer">NA</span> <span>seconds</span></div>
<form id="transferForm">
  <label for="from_port">From Port:</label>
  <input type="text" id="from_port" name="from_port"><br><br>
  <label for="to_port">To Port:</label>
  <input type="text" id="to_port" name="to_port"><br><br>
  <label for="volume">Volume:</label>
  <input type="text" id="volume" name="volume"><br><br>
  <input type="submit" value="Submit">
</form>
{% endblock %} {% block scripts %}
<script>
	async function estimateTime(){
		const from_port = document.getElementById("from_port").value;
		const to_port = document.getElementById("to_port").value;
		const volume = document.getElementById("volume").value;
		if (from_port && to_port && volume) {
			 let ret = await fetchPOST(
				'/pman/aurora-pump/estimate-transfer-time',
				{'args':[from_port,to_port,volume]}
			)
			return JSON.parse(ret)['message']
		}
		return 0
	} 

	async function startTickingTimer(){
    	const timer = document.getElementById('timer');
	    let timeRemaining = parseFloat(timer.innerText);
	    const interval = setInterval(function() {
	        timeRemaining -= 0.1;
	        if (timeRemaining <= 0) {
	            clearInterval(interval);
		} else {
	        timer.innerText = timeRemaining.toFixed(1);
		}
	    }, 100);
	}


  document.getElementById("transferForm").addEventListener("submit", async function(event) {
    event.preventDefault();
    const time_estimate = await estimateTime();
    document.getElementById('timer').innerText = time_estimate.toFixed(2);
    startTickingTimer() 	

    const from_port = document.getElementById("from_port").value;
    const to_port = document.getElementById("to_port").value;
    const volume = document.getElementById("volume").value;
    await apTransfer([from_port, to_port, volume]);
  });
  async function apTransfer(args){
    const response = await fetchPOST("/pman/aurora-pump/transfer", { args: args });
    display(response);
    waitForEnd();
  }
  async function waitForEnd(){
	  let stat = true;
  	  let response
	  while(stat == true){
		  await new Promise(resolve => setTimeout(resolve, 500)); // sleep for 0.5 seconds
		  response = await fetchPOST("/pman/aurora-pump/is-busy", { args: [] });
		  response = JSON.parse(response)
		  stat = response['status']
	  }
	  display("done!")
  }
</script>
{% endblock%}
