{% extends "layout.html" %} {% block head%} {% endblock %} {% block content%}
<h2>Control</h2>
<div style="display:grid;gap:4px; grid-template-columns: repeat(4,1fr);">
  <button type="button" onclick="oneResponseCommand('ZR')">Initialize</button>
  <button type="button" onclick="oneResponseCommand('Q')">Query Status</button>
  <button type="button" onclick="oneResponseCommand('A0R')">Empty Syringe</button>
  <button type="button" onclick="oneResponseCommand('A13714R')">Fill Syringe</button>
  <button type="button" onclick="oneResponseCommand('TR')">Clear Command Buffer</button>
  <button type="button" onclick="oneResponseCommand('')">Hardstop</button>
</div>
{% endblock %}
{% block scripts %}
<script>



</script>
{% endblock%}
