{# 
	This layout lets the user work with a blank slate.
#}
{% from "macros.html" import sidecard %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PMAN Server</title>
    {% block head%}
    {%endblock%}
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="/static/javascript/confirm_ranges.js"></script>
    <script src="/static/javascript/fetches.js"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
