{% extends "layout_simple.html" %} {% block head%}
<style type="text/css" media="screen">
  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  button {
    padding: 1em;
    border-radius: 0;
    border: solid 1px black;
    background-color: white;
    transition: 0.1s;
  }

  button.delete {
    color: darkred;
    border-color: darkred;
    background-color: pink;
  }
  button.save {
    color: darkgreen;
    border-color: darkgreen;
    background-color: lightgreen;
  }
  button.add-row {
    color: navy;
    border-color: navy;
    background-color: lightblue;
  }

  button:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  table {
    max-width: 100vw;
    overflow: scroll;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    table-layout: auto;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: scroll;
  }

  td{
	  font-family: 'Courier New', Courier, monospace;
  }

  thead {
    background-color: #f2f2f2;
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: #eaeaea;
  }
</style>
{% endblock %} {% block content%}
<div style="width: 100vw; margin-left: 1em; display: flex">
  <div>
    <h2>Release Schedule</h2>
    <p>This is a table that shows the actual schedule of jobs.</p>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Run Time</th>
    </tr>
  </thead>
  <tbody>
    {% for job in job_list %}
    <tr>
      <td>{{job[0]}}</td>
      <td>{{job[1]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %} {% block scripts %} {% endblock%}
