{% extends "layout_simple.html" %} {% block head%}
<style type="text/css" media="screen">
  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  button {
    padding: 1em;
    border-radius: 0;
    border: solid 1px black;
    background-color: white;
    transition: 0.1s;
  }

  button.delete {
    color: darkred;
    border-color: darkred;
    background-color: pink;
  }
  button.save {
    color: darkgreen;
    border-color: darkgreen;
    background-color: lightgreen;
  }
  button.add-row {
    color: navy;
    border-color: navy;
    background-color: lightblue;
  }

  button:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  table {
    max-width: 100vw;
    overflow: scroll;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    table-layout: auto;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: scroll;
  }

  thead {
    background-color: #f2f2f2;
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  tbody td:hover {
    background-color: #eaeaea;
  }
</style>
{% endblock %} {% block content%}
<div style="width: 100vw; margin-left: 1em; display: flex">
  <div>
    <h2>Release Scheduler</h2>
    <p>
      <strong>Volumes</strong> and <strong>Hours</strong> are comma-separated
      lists of equal length.
      <br />
      For each <strong>Volume </strong>and <strong>Hour</strong>, pump number
      <strong>Pump_Address</strong> will draw <strong>Volume</strong> from
      <strong>Valve_Port</strong> at time <strong>t0</strong> +
      <strong>Hour</strong>.
    </p>
  </div>
  <div
    style="display: flex; justify-content: flex-end; padding: 1em; flex-grow: 1"
  >
    <button
      type="button"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        border: none;
      "
      onclick="document.getElementById('tsvInput').click()"
    >
      <input type="file" value="" name="tsvInput" id="tsvInput" hidden />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-file-earmark-arrow-up"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707z"
        />
        <path
          d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"
        />
      </svg>
      Upload TSV
    </button>
  </div>
</div>
<table contenteditable="true">
  <thead>
    <tr contenteditable="false">
      {% for header in headers %}
      <th>{{header}}</th>
      {% endfor %}
      <th>Actions</th>
    </tr>
  </thead>
  <tbody contenteditable="true">
    {% for row in rows %}
    <tr id="row_{{ loop.index0 }}">
      {% for item in row %}
      <td>{{ item }}</td>
      {% endfor %}
      <td>
        <button
          type="button"
          class="delete"
          onclick="delete_row('row_{{ loop.index0 }}')"
        >
          Delete
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="buttonHolder">
  <button type="button" class="add-row" onclick="addRow()">Add Row</button>
  <button type="button" class="save" onclick="submitTable()">Save</button>
</div>

{% endblock %} {% block scripts %}
<script>
  // number of rows not including header
  let num_rows = document.querySelectorAll("tr").length - 1;
  function delete_row(row_id) {
    let row = document.getElementById(row_id);
    row.remove();
    submitTable();
  }
  function tableToList() {
    let table = document.querySelector("table");
    let dataList = [];
    let rows = table.querySelectorAll("tr");
    rows.forEach(function (row) {
      let rowData = [];
      const cellsToSkip = row.querySelectorAll("td, th");
      cellsToSkip.forEach(function (cell, index) {
        if (index !== cellsToSkip.length - 1) {
          rowData.push(cell.textContent);
        }
      });
      dataList.push(rowData);
    });
    return dataList;
  }
  function submitTable() {
    let endpoint = "/pman/release-scheduler/save-table";
    let list = tableToList();
    fetch(endpoint, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ data: list }),
    });
  }
  const dateTimeFormatter = new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
    hour: "numeric",
    minute: "numeric",
    second: "numeric",
    hour12: true,
    timeZone: "America/Los_Angeles",
    timeZoneName: "short",
  });
  function addRow() {
    let table = document.querySelector("table");
    let newRow = table.insertRow(-1);
    let cellCount = table.rows[0].cells.length;
    for (let i = 0; i < cellCount; i++) {
      let newCell = newRow.insertCell(i);
      newCell.contentEditable = true;
    }
    let current_datetime = new Date();
    let headerCells = table.rows[0].cells;
    let t0_index = Array.from(headerCells).findIndex(
      (cell) => cell.textContent === "t0"
    );

    newRow.cells[t0_index].innerText =
      dateTimeFormatter.format(current_datetime);
  }
  //This function is triggered when a file is selected
  document.getElementById("tsvInput").addEventListener("change", function () {
	  populateTable();
	  submitTable();
  });

  function populateTable() {
    // populate table with whatever is in CSV
    let csv_file = tsvInput.files[0];
    let table = document.querySelector("table");
    let tBody = table.tBodies[0];
    table.tHead.innerHTML = "";
    tBody.innerHTML = "";
    let header = document.createElement("th");
    // first row of csv is headers, so put it in thead
    // remaining rows go in tbody
    let reader = new FileReader();
    reader.onload = function (e) {
      let data = e.target.result;
      let rows = data.split("\n");
      rows = rows.filter((row) => row.trim() !== "");
      for (let i = 0; i < rows.length; i++) {
        let row = rows[i].split("\t");
        if (i === 0) {
          row = row.concat(["Actions"]);
        } else {
          row = row.concat([""]);
        }
        let tr = document.createElement("tr");
        for (let j = 0; j < row.length; j++) {
          let cell = document.createElement(i === 0 ? "th" : "td");
          cell.textContent = row[j].trim();
          tr.appendChild(cell);
        }
        if (i === 0) {
          table.tHead.appendChild(tr);
        } else {
          tBody.appendChild(tr);
        }
      }
    };
    reader.readAsText(csv_file);
  }
</script>
{% endblock%}
