{% extends "layout.html" %} {% block head%}
<style type="text/css" media="screen">
  .pump-control-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 0.5em;
  }
  .pump-control-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }
  span.addr {
    font-weight: bold;
  }
  button {
    border: solid 1px black;
    color: black;
    border-radius: 2px;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span.motor-status {
  }
</style>
{% endblock %} {% block content%}
<h2>Kamoer Peri Control</h2>
<div class="pump-control-container">
  {% for addr in addrs %}
  <div class="pump-control-card">
    <div class="card-header">
      <span class="addr">Address: {{addr}}</span>
      <span class="motor-status" id="motor-status-{{addr}}" addr="{{addr}}"
        >.</span
      >
    </div>
    <label for="direction">Direction</label>
    <select id="direction-{{addr}}" name="direction-{{addr}}">
      <option value="1">clockwise</option>
      <option value="0">counterclockwise</option>
    </select>
    <label for="rpm">RPM</label>
    <input
      type="text"
      value="400"
      class="rpm"
      id="rpm-{{addr}}"
      name="rpm-{{addr}}"
    />
    <button id="start" type="button" onclick="start_pump({{addr}})">
      Start
    </button>
    <button id="stop" type="button" hidden="true" onclick="stop_pump({{addr}})">
      Stop
    </button>
  </div>
  {% endfor %}
</div>

{% endblock %} {% block scripts %}
<script>
  const base_url = '/pman/kamoer-peri'
  const motor_status_spans = document.querySelectorAll('.motor-status')
  const stop_btn = document.getElementById('stop')
  const start_btn = document.getElementById('start')

  async function start_pump(addr){
  	let rpm = document.getElementById(`rpm-${addr}`).value
  	let direction = document.getElementById(`direction-${addr}`).value
  	let response = await fetchPOST(`${base_url}/start`, {args:[rpm,direction,addr]})
  	start_btn.hidden = true;
  	stop_btn.hidden = false;
  	stop_btn.disabled = true;
  	// disable for half a sec to prevent overload issue
  	setTimeout(() => {
  	    stop_btn.disabled = false;
  	}, 500);
  	display(response)
  }
  async function stop_pump(addr){
  	let response = await fetchPOST(`${base_url}/stop`,{args:[addr]})
  	display(response)
  	start_btn.hidden = false;
  	stop_btn.hidden = true;
  	// disable for half a sec to prevent overload issue
  	start_btn.disabled = true;
  	setTimeout(() => {
  	    start_btn.disabled = false;
  	}, 500);
  }

  //setInterval(() => {
  //	motor_status_spans.forEach((status_span)=>{
  //		let addr = status_span.getAttribute('addr')
  //		fetch(`/pman/kamoer-peri/status?addr=${addr}`)
  //		.then(response => response.json())
  //		.then(data => {
  //			status_span.textContent = data.status;
  //		})
  //		.catch(error => console.error('Error:', error));
  //	})
  //}, 1000);

  {% for addr in addrs %}
  enforceCharset("rpm-{{addr}}","0123456789")
  enforceRange("rpm-{{addr}}",0,400)
  {% endfor %}
  document.querySelectorAll('input.rpm').forEach((el)=>{save_text_input(el)})
  save_text_input()
</script>
{% endblock%}
